<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fréttir - mdl.is</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/mdl_logo.png') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/mdl_logo.png') }}" alt="MDL" width="150px" height="auto">
    </header>
    <div>
        <nav>
            {% for i in range(len) %} 
                <a href="/article/{{ articles[i]['id'] }}">{{ articles[i]['title'] }}</a> <br>
            {% endfor %} 
        </nav>
        <article>
            <h1>{{ title }}</h1>
            <h4>{{ author }}</h4>
            <p>{{ content }}</p>
        </article>
    </div>
</body>
</html>